.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #a7c7b3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/carpa_noche.jpg');
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h2 {
    color: #a7c7b3;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 80%;
    padding: 10px;
    background-color: #a7c7b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #92b79e;
  }
  